body {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;

    --biker_orange:#FFBB7B;
    --biker_sunset:#FF9356;
    --biker_lemon:#FFF0BB;
    --biker_cumquad:#A1300E;
    --biker_mango:#D16C52;
}

#mainheader {
    background-color: var(--biker_orange);
    color: var(--biker_mango);
    display: inline;
    position: absolute;
    font-family:monospace;
    letter-spacing: 0.2em;
    font-weight: normal;
    top:15%;
    font-size: min(max(18px, 5vw), 64px)
}

#logo-header {
    width: 15px;
    display: inline;

}

#logo-header img {
    width: min(max(16px,12%), 100px);
    height: auto;
    justify-content:center;
    display: inline;
    margin-left:2%;
    margin-right:2%;
}

#header-wrapper {
    background-color: var(--biker_orange);
    position:relative;
}

#header-container {
    max-width: 960px;
    margin: auto;
    overflow: auto;
}

main {
    max-width: 720px;
    margin: auto;
    padding: 2%;
}
